/Prototipo/EjemploThread - Prototipo/nbproject/private/
/Desarrollo/Servidor/target/
/Prototipo/PrototipoPoolDeConexiones/nbproject/private/
/Prototipo/PrototipoPoolDeConexiones/build/
/Desarrollo/Servidor/nbproject/private/
/Desarrollo/Emulador/build/
/Desarrollo/Servidor/build/
/Desarrollo/Servidor/dist/
/Desarrollo/Emulador/dist/
